<h1>Listing deposits</h1>

<table>
  <tr>
    <th>Cook</th>
    <th>Date</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deposits.each do |deposit| %>
  <tr>
    <td><%= deposit.cook %></td>
    <td><%= deposit.date %></td>
    <td><%= deposit.amount %></td>
    <td><%= link_to 'Show', deposit %></td>
    <td><%= link_to 'Edit', edit_deposit_path(deposit) %></td>
    <td><%= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deposit', new_deposit_path %>
